
<head>
    <style type='text/css'>
        body, html {
            margin: 0;
            padding: 0;
        }
        body {
            color: black;
            display: table;
            font-family: Georgia, serif;
            font-size: 24px;
            text-align: center;
        }
        .container {
            border: 20px solid tan;
            width: 750px;
            height: 563px;
            display: table-cell;
            vertical-align: middle;
        }
        .logo {
            color: tan;
        }

        .marquee {
            color: tan;
            font-size: 48px;
            margin: 20px;
        }
        .assignment {
            margin: 20px;
        }
        .person {
            border-bottom: 2px solid black;
            font-size: 32px;
            font-style: italic;
            margin: 20px auto;
            width: 400px;
        }
        .reason {
            margin: 20px;
        }
    </style>
</head>
<body>
<div >
    <div >
        JOB.TN.COM
    </div>

    <div class="marquee">
        Certificat d Achèvement
    </div>

    <div class="assignment">
        Ce certificat est remis à
    </div>

    <div class="person">
        {{ nom }}
    </div>

    <div class="reason">
        For deftly defying the laws of gravity<br/>
        and flying high
    </div>
</div>
</body>
