{% extends 'base.html.twig' %}

{% block title %}Edit Entretien{% endblock %}

{% block body %}
    <h1>Edit Entretien</h1>

    {{ include('entretien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_entretien_index') }}">Retour</a>

    {{ include('entretien/_delete_form.html.twig') }}
{% endblock %}
