<form method="post" action="{{ path('app_test_delete', {'id': offre.test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-danger">supprimer le test</button>
</form>
