<form method="post" action="{{ path('app_offre_delete', {'id': offre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-danger">Supprimer l'offre</button>
</form>
