{% extends 'utilisateur/client/base.html.twig' %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="height: 600px;margin-top: 30px;margin-left: 150px;margin-right: 150px">
        <iframe name="NOM DE LA FRAME" src="{{asset('assets/examples/simple.html')}}" height="100%" width="100%"> </iframe>
    </div>
{% endblock %}