{% extends 'utilisateur/Dashbord/base.html.twig' %}


{% block body %}
    <div class="pagetitle">
        <h1>Cours</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Accueil</a></li>
                <li class="breadcrumb-item active">Cours</li>
            </ol>
        </nav>
    </div><!-- End P
    {{ include('cours/_formEdit.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cours_index') }}">back to list</a>
{% endblock %}
